[Unit]
Description=dd DVD from %I to iso
BindsTo=%i.device
After=%i.device

[Service]
Type=oneshot
Environment=DEVNAME=/%I
ExecStart=/usr/bin/dd-one.sh
